/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
}
header {
    background-color: #003F80;
    opacity: 0.9;
    color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: 'Gayathri', sans-serif;
}
header > nav > h2 {
    display: none;
}
header > nav > a {
    grid-area: nav-img-text;
}
header > nav > a > img {
    width: 30px;
    height: 30px;
    float: left;
    margin: 0px 10px 0px 0px;
    border-radius: 15px;
    cursor: pointer;
}
header > nav > a > span {
    float: left;
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}
header > nav > i {
    grid-area: nav-icon;
    cursor: pointer;
}
header > nav > ul {
    grid-area: nav-list;
    display: none;
    width: 100%;
    list-style: none;
    padding: 10px 0px 0px 0px;
}
header > nav > ul > li {
    padding: 10px 0px 0px 0px;
    text-align: right;
    font-size: 25px;
}
header > nav > a > span > a:link,
header > nav > a > span > a:hover,
header > nav > a > span > a:active,
header > nav > a > span > a:visited,
header > nav > ul > li > a:link,
header > nav > ul > li > a:active,
header > nav > ul > li > a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
header > nav > i:hover,
header > nav > ul > li > a:hover {
    color: #CAE1FF;
}
main {
    width: 100%;
    box-sizing: border-box;
}
main > article > h1 {
    display: none;
}
main > article > section#home {
    grid-area: section-home;
    background-image: url(../img/section-home-background.jpg);
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    font-family: 'Gayathri', sans-serif;
}
main > article > section#home > div#hero {
    background-color: #003F80;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}
main > article > section#home > div#hero > h2 {
    grid-area: hero-h2;
    text-align: center;
    font-size: 60px;
}
main > article > section#home > div#hero > a {
    grid-area: hero-a;
    background-color: #000000;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    text-align: center;
    font-size: 45px;
}
main > article > section#home > div#hero > a:hover {
    background-color: #FFFFFF;
    color: #000000;
}
main > article > section#education {
    grid-area: section-education;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 30px 30px 30px;
}
main > article > section#education > h2 {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    font-size: 35px;
}
main > article > section#education > div.education-container {
    width: 100%;
    margin: 10px 0px;
}
main > article > section#education > div.education-container > div.education-image {
    grid-area: section-education-image;
    text-align: right;
    padding: 10px;
}
main > article > section#education > div.education-container > div.education-image > img {
    width: 70px;
    height: 80px;
}
main > article > section#education > div.education-container > div.education-content {
    grid-area: section-education-content;
    text-align: justify;
    padding: 10px;
}
header > nav {
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-areas:
        "nav-img-text nav-icon"
        "nav-list nav-list";
}
main > article {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "section-home"
        "section-education";
}
main > article > section#home > div#hero {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "."
        "."
        "."
        "."
        "."
        "hero-h2"
        "hero-a";
}
main > article > section#education > div.education-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "section-education-image section-education-content";
}
@media screen and ( min-width: 1000px ) {
    header > nav > i {
        display: none !important;
    }
    header > nav > ul {
        display: block !important;
        text-align: right;
        list-style: none;
    }
    header > nav > ul > li {
        display: inline;
        padding: 0px 20px;
        font-size: 20px;
    }
    header > nav {
        grid-template-columns: 20% 80%;
        grid-template-areas:
            "nav-img-text nav-list";
    }
    main > article > section#education > div.education-container > div.education-image {
        padding: 10px 30px;
    }
    main > article > section#education > div.education-container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "section-education-image section-education-content";
    }
}